body{
    background-color: grey;
}
/* .headspace {
    grid-area: headspace;
} */

header{
    display: grid;
    grid-area: header;
    background-color: antiquewhite;
    justify-self: center;
}

.choices{
    display: grid;
    grid-area: choices;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "rock paper scissors";
    background-color: steelblue;
}

.rockId{
    grid-area: rock;
    display: inline-block;
}

.paperId{
    grid-area: paper;
    display: inline-block;
}

.scissorsId{
    grid-area: scissors;
    display: inline-block;
}

.footer{
    display: grid;
    grid-area: footer;
}

body{
    display: grid;
    grid-template-columns: 25px 1fr 4fr 1fr 25px;
    grid-template-rows: 150px 3fr 2fr;
    /*grid-template-columns: auto 5px 1fr 1fr 5px 1fr 1fr 5px 1fr 1fr 5px auto;
    grid-template-rows: 2fr 5px 1fr 5px 2fr 5px;*/
    grid-template-areas:
        ". . . . . "
        ". header header header ."
        ". choices choices choices ."
        ". footer footer footer ."
        ". . . . ."

        /* ". . . . . . . . . . . ." */
        /* ". . . . . . . . . . . ." */

        /* ". . header header header header header header header header . ." title */

        /* ". border border border border border border border border border border  ." topborder */
        /* ". border button button border button button border button button border ." buttons */
        /* ". border border border border border border border border border border  ." bottom border */

        /* ". . . . . choices choices . . . . ." choices */
        /* ". . . . . result result . . . . ." /result */
        /* ". . . . . player comp . . . . ." player-comp */
        /* ". . . . . player-score comp-score . . . . ." scores */

}