body{
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: auto 2fr 1fr;
    grid-template-areas:
    ". . header . ."
    ". . main . ."
    ". . footer . .";
    background-color: antiquewhite;
    background-image: url(../images/parchment.png);
    background-size: cover;
}

header{
    grid-area: header;
    display: inline;
    text-align: center;
    margin: auto;
}

header, footer {
    /* background-color: antiquewhite; */
    border: 7px double saddlebrown;
    margin: 10px 0;
}

main{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 2fr;
    align-content: center;
    /* background-color: powderblue; */
    column-gap: 1vw;
    row-gap: 1px;
    padding: 0 50px;
    grid-template-areas: 
    "subtitle subtitle subtitle"
    "rock paper scissors";
    border: saddlebrown 7px double;
}

footer{
    display: grid;
    grid-area: footer;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "marquee stats";
    column-gap: 2vw;
}

h1, h2{
    font-family: 'Rye';
    letter-spacing: 2px;
    color: saddlebrown;
    margin: auto;
    vertical-align: auto;
}

h1{
    font-size: 5vw;
    padding: 10px 5px;
    /* font-size: 4em; */
}

h2 {
    grid-area: subtitle;
    font-size: 3vw;
    text-align: center;
    padding: 5px 0;
}

p, td{
    font-family: "Rye", sans-serif;
}

/* MAIN */
#rockId{
    grid-area: rock;
    background-image: url(../images/rock-button.jpg) center no-repeat;
    /* display: inline-block; */
}

#paperId{
    grid-area: paper;
    background-image: url(../images/paper-button.jpg) center no-repeat;
    /* display: inline-block; */
}

#scissorsId{
    grid-area: scissors;
    background-image: url(../images/scissors-button.jpg) center no-repeat;
    /* display: inline-block; */
}

#rockId, #paperId, #scissorsId{
    background-color: #C2B395;
    border: 5px ridge saddlebrown;
    width: 100%;
    margin: 10px auto;
}

button{
    transition: all 0.3s;
    max-width: 250px;
}

button:hover{
    transform: scale(1.1);
}

img{
    height: auto;
    width: 90%;
    padding: 0;
    margin: 0;
}

/* hr{
    border-style: inset;
    border-width: 10px;
    color: saddlebrown;
} */

/* FOOTER */
#marquee{ /*lvl 1 left*/
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    /* row-gap: 20px; */
    grid-area: marquee;
    grid-template-areas:
    "choices"
    "result";
}
#round-choices{
    grid-area: choices;
    background-color: burlywood;
    text-align: center;
    height: 75%;
    max-height: 50px;
}

#round-result{
    text-align: center;
    grid-area: result;
    background-color: burlywood;
    max-height: 50px;
}

#round-choices, #round-result{
    color: saddlebrown;
    text-align: center;
    margin: auto 10px;
    padding: 5px 0;
}

/*#stats{ lvl 1 right*/
  #player, #computer, #playerScore, #compScore{
    /* display: inline-grid; */
    width: 150px;
    grid-area: stats;
    position: relative;
    text-align: center;
    height: 100px;
    margin: auto 5px;
    background-color: burlywood;
    color: saddlebrown;
    border: 1px solid saddlebrown;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "player computer"
        "playerScore compScore"; */
}

#player, #computer{
  height: 20%;
  font-size: 2vw;
  padding-top: 10px;
}

#playerScore, #compScore{
  height: 50%;
}

#pScore, #cScore {
  font-size: 2em;
  padding: 0;
  margin: auto;
}

/* #pScore: */

#stats{
  margin: auto;
  padding: 5px;
}

#winner {
    display: none;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-color: burlywood;
    color: saddlebrown;
    padding: 125px;
    font-size: 5vw;
    font-family: "Rye";
    text-align: center;
    margin: auto;
    border: 10px saddlebrown double;
    /* vertical-align: middle; */
}

/* #players{

}

#scores{

} */

#player{
    grid-area: player

}

#computer{
    grid-area: computer
}

#playerScore{
    grid-area: playerScore;
}

#compScore{
    grid-area: compScore;
}

/*TYPOGRAPHY*/
@font-face { /*RYE*/
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rye Regular'), local('Rye-Regular'), url(https://fonts.gstatic.com/s/rye/v7/r05XGLJT86YzEZ7t.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }